.nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.listItem {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
}

.link::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    transition: width 0.2s;
}

.link:hover:after {
    width: 80%;
}

.link:not(.active):hover {
    text-shadow: 0 0 3px #0e0e0e, 0 0 10px #fff;
}

