.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;

    .links {
        display: flex;
        align-items: center;
        list-style: none;

        .item {
            list-style-type: none;
            margin-left: 4rem;

            .link:link,
            .link:visited {
                font-size: 1.7rem;
                font-weight: 400;
                padding: 0.8rem 2.5rem;
                border-radius: 3rem;
                color: inherit;
                text-decoration: none;
                display: block;
                transition: all 0.5s;
            }
            .link:hover,
            .link:active {
                background-color: #4bbb7d;
                box-shadow: 0 0 1rem 0.2rem #4bbb7d;
            }
        }
    }
}
