@import 'styles/variables.scss';

.btn {
    border: 1px solid $primary;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.4rem;
    &:hover {
        border: 1px solid $primary;
        background-color: $primary;
        color: #fff;
    }
    &:hover .btnIcon {
        stroke: #fff;
    }
}

.btnActive {
    border: 1px solid $primary;
    background-color: $primary;
    color: #fff;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: 1.4rem;
}
