@import 'styles/mixins.scss';
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .button {
        width: 250px;
        height: 35px;
    }

    .input {
        width: 250px;
        height: 35px;
    }
}

.tableBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 5px;

    .table {
        border-collapse: separate;
        width: 100%;

        .thead {
            cursor: pointer;

            .tr {
                border-radius: 10px;

                .sortCell {
                    text-align: center;
                }
            }
        }
    }

    .tbody {
        max-width: 190px;
        overflow: hidden;
    }
}

.pagination {
    align-self: center;
    margin-top: 1rem;
}

.card {
    @include card(50rem, 30rem, center);
}
