.pagination {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .btn {
        border: 1px solid #6788bd;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: none;
        cursor: pointer;
        font-size: 1.4rem;
        &:hover {
            border: 1px solid #6788bd;
            background-color: #6788bd;
            color: #fff;
        }
        &:hover .btnIcon {
            stroke: #fff;
        }
    }
}

.btnActive {
    border: 1px solid #6788bd;
    background-color: #6788bd;
    color: #fff;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: 1.4rem;
}
