@import 'styles/mixins.scss';

.form {
    @include flexForForm(space-evenly, 50rem, 40rem);
    background-color: #fff;
    box-shadow: 0 0 1.8rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
		text-align: center;

    .title {
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #333;
        font-weight: 600;
    }

    .login_fields {
        @include flexForForm(space-between, 20rem, 30rem);
    }

    .registration_fields {
        @include flexForForm(space-between, 23rem, 30rem);
    }

    .forgot_password_fields {
        @include flexForForm(space-between, 10rem, 30rem);
    }

    .profile_fields {
        @include flexForForm(space-evenly, 35rem, 30rem);
    }

    .field {
        height: 7.5rem;
    }

    .img {
        height: 100%;
        border-radius: 50%;
    }

    .checkBoxField {
        display: flex;

        label {
            font-size: 1.4rem;
            font-weight: 500;
            text-transform: uppercase;
            margin-right: 1rem;
        }
    }

    .label {
        text-align: left;
        display: block;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .error {
        color: #990000;
        font-size: 1.4rem;
    }

    .btn {
        width: 30rem;
        margin: 0 auto;
        border-radius: 10px;
        font-weight: bolder;
        letter-spacing: 1.2px;
        font-size: 1.6rem;
    }

    .message {
        color: #333;
        font-weight: 500;
        font-size: 1.4rem;
    }

    .link {
        @include link(uppercase);
    }
}
// .errorRes {
//     color: #990000;
//     height: 20px;
//     width: 400px;
//     position: absolute;
//     bottom: 10px;
//     left: 10px;
//     font-size: 1.8rem;
// }
