@import 'styles/mixins.scss';

.container {
    @include container();
}

.card {
    @include card(40rem, 20rem);
    .link {
        @include link(uppercase);
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1rem;

    p {
        font-size: 2rem;
        font-weight: 500;
    }
}
