@import 'styles/variables.scss';

@mixin flexForForm($layout, $height, $width) {
    display: flex;
    flex-direction: column;
    justify-content: $layout;
    margin: 0 auto;
    height: $height;
    width: $width;
}

@mixin container() {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin link($uppercase) {
    &:link,
    &:visited {
        text-transform: $uppercase;
        font-weight: 500;
        letter-spacing: 0.2rem;
        color: $primary-dark;
        font-size: 1.6rem;
        transition: all 0.3s;
    }

    &:hover,
    &:active {
        text-decoration: none;
    }
}

@mixin card($width, $height) {
    margin-top: 10rem;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: $width;
    min-height: $height;

    p {
        font-size: 1.6rem;
    }

    span {
        font-size: 1.6rem;
    }
}
