@import 'styles/mixins.scss';
table {
    max-width: 120rem;
    border-collapse: collapse;
    font-size: 1.8rem;
    margin: 0 auto;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);

    .thead {
        cursor: pointer;
    }

    thead tr {
        background-color: #525d9b;
        color: #fff;
    }

    thead th {
        width: 20%;
    }

    thead th:last-child {
        width: 10%;
    }

    tbody td:last-child {
        display: flex;
        justify-content: space-between;
    }

    tbody a {
        @include link(none);
    }
    tbody td {
        width: 20rem;
        text-overflow: ellipsis;
    }

    tbody tr:nth-child(odd) {
        background-color: #fef7d9;
    }

    tbody tr:nth-child(even) {
        background-color: #fff;
    }

    th,
    td {
        padding: 1.6rem 1rem;
        text-align: left;
        font-size: 1.5rem;
    }
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: transparent;
    stroke: #373f4d;
}
