@import 'styles/mixins.scss';

ul {
    list-style: none;
}

.card {
    @include card(40rem, 20rem);
}

.quiz {
    @include card(45rem, 35rem);
    background-color: #fff;
    text-align: left;
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
				height: 7rem;
    }
}

.link {
    @include link(uppercase);
}
