@import 'styles/mixins.scss';

ul {
    list-style: none;
}

.card {
    @include card(50rem, 30rem, center);
}

.quiz {
    @include card(50rem, 30rem, none);
    background-color: #fff;
		text-align: left;

    .btn {
        margin: 1rem 0;
    }
}
