.container {
    width: 120rem;
    margin: 0 auto;
}

table {
    width: 120rem;
    border-collapse: collapse;
    font-size: 1.8rem;
    thead tr {
        background-color: #6788BD;
    }
    thead th {
        width: 25%;
    }
		tbody tr:nth-child(odd){
			background-color: #e1e7f2;
		}
		tbody tr:nth-child(even){
			background-color: #b3c4de;
		}
    th,
    td {
        padding: 1.6rem 1rem;
        text-align: left;
    }
}
