@import 'styles/variables.scss';
.default {
    text-decoration: none;
    display: inline-block;
    min-width: 10rem;
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: white;
    box-shadow: $primary-shade;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    background-color: $primary;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        background-color: $primary-dark;
    }
}
