.container {
  background-color: gainsboro;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    align-items: flex-start;
    margin: 0 auto;
    border-radius: 3px;
    position: relative;
    background-color: lightgrey;
    border: solid #c6c6c6 1px;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.25);

    .title {
      align-self: center;
      margin: 40px 0 40px;
      font-size: 26px;
      font-weight: bold;
    }

    .inputGroup {
      position: relative;
      margin-bottom: 25px;
      align-self: center;

      input {
        width: 295px;
        border: none;
        border-bottom: 2px solid white;
        border-radius: 0;
        outline: none;
        font-size: 16px;
        box-shadow: inset 20px 20px 0px 20px lightgrey;
        margin-bottom: 0;
        padding-bottom: 3px;

        &:focus ~ label, &:not(:placeholder-shown) ~ label {
          transform: translateY(-18px) scale(0.8);
        }
      }

      label {
        position: absolute;
        left: 12px;
        top: 10px;
        transition: 0.2s ease-in-out;
        transform-origin: 0 0;
        font-size: 1.4rem;
      }

      .error {
        color: #990000;
        align-self: center;
        height: 16px;
        position: absolute;
        left: 12px;
        font-size: 14px;
      }
    }

    .button {
      align-self: center;
      width: 300px;
      height: 35px;
      border-radius: 10px;
      font-weight: bolder;
      letter-spacing: 1.2px;
      font-size: 16px;
      margin-top: 47px;
    }

    .message {
      align-self: center;
      color: grey;
      margin-top: 15px;
      font-size: 1.4rem;
      width: 300px;
      text-align: left;
    }
  }
}





