.header {
    display: flex;
    align-items: center;
    min-height: 70px;
    border-bottom: 1px solid #d1e1e1;
    background: linear-gradient(#285d69, #092104);
    box-shadow: 0 0 10px #01070a;
    padding: 0 50px;
}