.test {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.btnGroup {
   margin-left: 16px;
}