
.card_style {
    margin-top: 60px;
    Width: 413px;
    Height: 360px;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 2.7rem auto 3rem;
    font-weight: 600;
    font-size: 2.2rem;
}
.photo{
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    background-color: #b5b4b4;
}
.name{
    margin-top: 1.7rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}
.email{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    opacity: 0.5;

    margin-top: 1.4rem;
    margin-bottom: 2.9rem;
}
.title_button{
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.95rem;

}
.log_out_png{
    max-width: 3rem;
    height: 1.7rem;
}