.default {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  margin: 10px 20px;
  border-radius: 5px;
  color: white;
  box-shadow: 3px 3px 7px 0px rgba(9, 19, 73, 0.5);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100px;
  text-align: center;
  background-color: #091349;
  border-color: #091349;;

  &:hover {
    box-shadow: 5px 5px 8px 0px rgba(9, 19, 73, 0.6);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    scale: 1.03;
  }
}






